@model List<CRMService.Data.A28.ObjCust>
<link href="~/Content/CardsCss.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


@ViewBag.CurrentUser

<br />
<br />
<div>
    <h3>Поиск контакта</h3>
    @using (Html.BeginForm("Index", "Contacts", FormMethod.Post)) {
        @Html.TextBox("searchString", null, new { placeholder = "Строка поиска..." })

        <input type="submit" value="Искать" />
    }
</div>


    @*@if (Model[0].ObjectNumber != -1) {*@
    @foreach (var item in Model.OrderBy(x => x.ObjectNumber)) {
        if (item.ObjectNumber != -1) {
                <div class="card_green">
                    <div class="container">
                        <h3>№ объекта:@Ajax.ActionLink(item.ObjectNumber.ToString(), "Info", "GuardObject", new { guardobjectId = item.ObjectID }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, OnComplete = "reload();" })</h3>                        
                        <b>Имя:</b> @item.ObjCustName<br />
                        <b>Должность:</b> @item.ObjCustTitle<br />
                        <p><b>Телефоны</b></p>
                        @item.ObjCustPhone1
                        @item.ObjCustPhone2
                        @item.ObjCustPhone3
                        @item.ObjCustPhone4
                        @item.ObjCustPhone5
                        <p><b>Адрес</b></p>
                        @item.ObjCustAddress
                        <p><b>Личный кабинет</b></p>
                        @item.Role
                    </div>
                </div>
            }
        }
    @*  *@
